[ ca ]
default_ca = socratesca

[ socratesca ]
dir             = C:/CertificateAuth
database        = $dir/index.txt
serial          = $dir/serial
private_key     = $dir/private/ca_private_key.pem
certificate     = $dir/ca_certificate.pem
default_md      = sha256
default_days    = 365
policy          = testca_policy
x509_extensions = mtls_extensions 

# --- NEW SECTION FOR INTERMEDIATE CA ---
[ intermediate_ca ]
dir             = C:/CertificateAuth/intermediate
certs           = $dir/certs
new_certs_dir   = $dir/certs
database        = $dir/index.txt
serial          = $dir/serial
private_key     = $dir/private/intermediate.key.pem
certificate     = $dir/intermediate.cert.pem
default_md      = sha256
default_days    = 1095
default_crl_days = 30
default_crl_hours = 0
policy          = testca_policy
x509_extensions = mtls_extensions
# ---------------------------------------

[ testca_policy ]
commonName              = supplied
stateOrProvinceName     = optional
countryName             = optional
emailAddress            = optional
organizationName        = optional
organizationalUnitName  = optional

[ req ]
default_bits        = 2048
default_md          = sha256
prompt              = yes
distinguished_name  = root_ca_distinguished_name
req_extensions      = v3_req 

[ root_ca_distinguished_name ]
commonName                  = Common Name (eg, your name or server hostname)
commonName_default          = SOCRATES.INC
stateOrProvinceName         = State or Province Name
countryName                 = Country Name (2 letter code)
countryName_default         = US

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth

[ mtls_extensions ]
basicConstraints       = CA:FALSE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
keyUsage                = critical, digitalSignature, keyEncipherment
extendedKeyUsage        = serverAuth, clientAuth
nsComment               = "Windows mTLS Certificate"

[ root_ca_extensions ]
basicConstraints       = critical, CA:true
keyUsage                = critical, keyCertSign, cRLSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer

# --- NEW EXTENSION FOR SIGNING THE INTERMEDIATE ---
[ intermediate_extensions ]
basicConstraints       = critical, CA:true, pathlen:0
keyUsage                = critical, keyCertSign, cRLSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
# --------------------------------------------------